GIMP/
onlyoffice
Mattermost/
google-chrome/ 
obsidian/
Code/
GeoGebra/
teams-for-linux/
htop/
dconf/
configstore/
Postman/
mimeapps.list
qutebrowser
pavucontrol.ini
Mumble/
QtProject.conf
arandr
discord
REAPER
timedctl
nvim
pr
github-copilot
JetBrains
chromium
Thunar
WebCord
eww
hypr
menus
nautilus
termshark
tmux
shikane
waybar
wofi
vlc
.zsh_history
