GIMP/
onlyoffice
Mattermost/
google-chrome/ 
obsidian/
Code/
GeoGebra/
teams-for-linux/
htop/
dconf/
configstore/
Postman/
mimeapps.list
qutebrowser
pavucontrol.ini
Mumble/
QtProject.conf
arandr
discord
REAPER